.upper-container {
    display: flex;
    flex-flow: row wrap;
    box-shadow: 1px -3px 10px .1px;
    border-radius: 10px;
}
.numPad {
    display: flex;
    flex-flow: column wrap;
}
.numGrid {
    width: 60px;
    height: 60px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gridRow {
    display: flex;
    flex-flow: row wrap;
    width: fit-content;
}
.grid {
    transition-duration: .5s;
    cursor: pointer;
}
.grid:hover {
    background-color: grey;
}
