.upper-container {
    display: flex;
    flex-flow: row wrap;
}
.numPad {
    display: flex;
    flex-flow: column wrap;
}
.numGrid {
    width: 60px;
    height: 60px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gridRow {
    display: flex;
    flex-flow: row wrap;
    width: fit-content;
}